@media screen and (max-width: 550px ){
    section.Howwork {
        padding: 20px 20px;
        display: flex;
        flex-direction: column;
    }
    .sub_howwrokimg img {
        width: 10em;
        height: 50vh;
    }
    .Sub_howwork{
    padding: 10px 10px;
    }
}

@media screen and (max-width: 750px ){
    section.Howwork {
        padding: 20px 20px;
        display: flex;
        flex-direction: column;
    
    }
    .sub_howwrokimg img {
        width: 20em;
        /* height: 80vh; */
    }
}

@media screen and (max-width: 990px ){
    section.Howwork {
        padding: 20px 20px;
        display: flex;
        flex-direction: column;
    }
    .sub_howwrokimg img {
        width: 20em;
        /* height: 80vh; */
    }
}

@media screen and (max-width: 1200px ){
    section.Howwork {
        padding: 20px 20px;
        display: flex;
        flex-direction: column;
    }
    .sub_howwrokimg img {
        /* width: 30em; */
        /* height: 80vh; */
    }
}

@media screen and (max-width:900px) {
    .card{
        display: none;
    } 
}
 
@media screen and (max-width:650px) {

    .ClientSays {
        padding: 0px 20px;
    }
    .review-cointainer {
        padding: 17px 0px;
        display: flex;
        flex-direction: column;
        /* justify-content: center; */
    }

    .Card_client {
        padding: 27px 20px;
    }
}

